@media screen and (max-width: 450px) {
    main {
        width: 450px;
        max-width: 100%;
    }

    .menu-btn {
        display: block;
    }

    .menu {
        display: none;
        top: 80px;
        position: fixed;
        right: 0;
        text-align: right;
    }

    .menu.active {
        display: block;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        justify-items: left;
        transition: all 0.3s ease;
    }
    
    .menu a {
        margin: 10px 4px;
    }
    
    /* HOME */    
    
    section#home {
        flex-direction: column-reverse;
        justify-content: center;
        min-height: calc(100vh + 160px);
        scroll-margin-top: 80px;  
    }

    .home-info {
        width: 100%;
        padding: 10px;
    }

    .funcao {
        text-align: center;
    }

    .home-info, .sobre-info {
        width: 100%;
        padding: 10px;
    }
    
    .nome {
        font-size: 22px;
    }

    .home-info h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 12px;
    }

    .funcao {
        font-size: 18px;
        margin: 8px 0 8px 0;
    }

    .resumo {
        font-size: 16px;
        margin: 8px 0 8px 0;
    }

    /* SOBRE */

    section#sobre {
        scroll-margin-top: 80px;
    }

    .tecnologias, .projs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* PROJETOS */

    section#projetos {
        scroll-margin-top: 80px;
    }

    /* CONTATO */

    #contato form {
        max-width: 350px;
    }
}