@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 1120px;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #FFF;
    box-shadow: 0 1px 0 #F9FAFB;
    max-width: 1120px;
    width: 100%;
}

.logo-home {
    font-size: 26px;
}

.menu {
    display: flex;
    gap: 20px;
}

.nave {
    cursor: pointer;
    text-decoration: none;
    color: #42446E;
    padding: 13px 16px;
    font-size: 16px;
}

.nave:hover {
    background-color: #D9D9D9;
    opacity: 0.9;
    border-radius: 8px;
}

.menu-btn {
    display: none;
    cursor: pointer;
    color: #42446E;
}

/* HOME */

section#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    width: 100%;
}

.home-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
}

h2 {
    font-weight: 500;
    color: #42446E;
    font-size: 36px;
}

.nome {
    font-size: 42px;
}

.nome,
.logo-home {
    background: linear-gradient(315deg, #7336E4 25%, #25A2EF);
    background-clip: text;
    color: transparent;
}

.funcao {
    font-weight: 500;
    color: #42446E;
    font-size: 28px;
}

.resumo {
    color: #42446E;
    font-size: 20px;
    line-height: 1.5;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.home-info button {
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    width: 160px;
    background: linear-gradient(315deg, #7336E4 25%, #25A2EF);
    color: #FFF;
    font-size: 18px;
    opacity: 0.9;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.home-info button:hover {
    opacity: 1;
}

.home-info button a {
    color: #FFF;
}

.perfil {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil img {
    width: 250px;
    height: 250px;
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 10px 10px;
    border-radius: 50%;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

/* SOBRE */

section#sobre {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 5px 20px;
}

.sobre-info {
    width: 100%;
    margin-top: 12px;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 80px;
    background: #F9FAFB;
    padding: 12px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 24px 0 10px 0;
}

.item img {
    width: 48px;
    height: 48px;
}

.item h4 {
    margin-left: 12px;
    color: #42446E;
    font-size: 18px;
}

/* PROJETOS */

section#projetos {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 5px 20px;
}

.projetos-info {
    width: 100%;
    margin-top: 12px;
}

.projetos-resumo {
    text-align: center;
}

.projs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projeto {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 475px;
    background: #F9FAFB;
    padding: 0 12px 12px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 24px 0 0 0;
}

.logo-projeto img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.projeto h4 {
    margin: 12px 0 12px 0;
    color: #42446E;
    font-size: 24px;
    padding-left: 12px;
}

.descricao, .tech {
    padding-left: 12px;
    color: #666666;
    line-height: 1.5;
}

.tech {
    margin: 12px 0 12px 0;
}

.repositorio a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.repositorio span {
    color: #000;
}

/* CONTATO */

section#contato {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
  
#contato form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    padding: 5px 10px;
}
  
input, textarea, button {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border: none;
    padding: 16px;
    border-radius: 6px;
    outline: none;
    resize: none;
}
  
#contato form button {
    background: linear-gradient(315deg, #7336E4 25%, #25A2EF);
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.9;
}
  
#contato form button:hover{
    opacity: 1;
}

/* FOOTER */
  
footer {
    padding: 20px;
    text-align: center;
    color: #42446E;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.logo-footer {
    color: #42446E;
    font-size: 16px;
}

.redes-footer {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
 
.redes-footer i {
    font-size: 24px;
    color: #42446E;
}